.seccion-grilla {

    width: 100%;

    display: flex;

    height: 100vh;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    padding: 10px;

}

 

.cabecera, .navbar, .seccion, .seccion2, .articulo, .pie {

    padding: 10px;

    border: 1px solid;

}

.grid{
   display: grid;
   grid-template-columns: repeat(3,300px) ; 
   grid-template-rows: 120px 40px repeat(2, 250px) 60px;

   grid-template-areas:
   "header header header"
   "navbar navbar navbar"
   "seccion articulo articulo"
   "seccion seccion2 seccion2"
   "pie pie pie"
   ;
}
.cabecera{
    background-image: url(../img/banner\ vinos.jpg);
    background-repeat: no-repeat;
    background-position: center -200px;
    background-size: cover;
    color: #fff;
    grid-area: header;
}
.navbar{
    grid-area: navbar;

}

.navbar ul{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

.seccion{
    grid-area: seccion;
}

.seccion2{
    overflow: auto;
    grid-area: seccion2;
}

.articulo{
grid-area: articulo;
}

.pie{
    grid-area: pie;
}
