@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(12, 12, 12);
}

.contenedor_bienvenida {
  display: flex;
  justify-content: center;
}
.contenedor_bienvenida .principal {
  color: white;
  background-color: rgb(120, 12, 12);
  border: 3px;
  border-style: solid;
  border-color: grey;
  font-weight: bolder;
}

.contenedor_texto {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}
.contenedor_texto .texto_escrito {
  width: 900px;
  height: 230px;
  background-color: rgb(120, 12, 12);
  color: white;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.titulo_paginas {
  display: flex;
  justify-content: center;
}
.titulo_paginas .vino {
  background-color: whitesmoke;
  width: 200px;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: rgb(140, 4, 4);
}
.titulo_paginas .destilados {
  background-color: whitesmoke;
  width: 400px;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: rgb(150, 146, 146);
}
.titulo_paginas .espumantes {
  background-color: whitesmoke;
  width: 350px;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: rgb(221, 192, 44);
}
.titulo_paginas .fernet {
  background-color: whitesmoke;
  width: 220px;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: rgb(10, 97, 2);
}

.catalogos_general {
  width: 100%;
  height: 45px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.catalogos {
  background-color: rgb(120, 12, 12);
  color: white;
  width: 150px;
  height: 30px;
  font-size: x-large;
  text-align: center;
  font-weight: 500;
}

.catalogo_vino {
  width: 200px;
  height: 40px;
  background-color: rgb(120, 12, 12);
  text-align: center;
  justify-content: center;
}

.catalogos-destilados {
  width: 200px;
  height: 40px;
  background-color: white;
  color: gray;
  text-align: center;
  border: 3px;
  border-style: double;
  border-color: black;
}

.catalogo-espumantes {
  text-align: center;
  background-color: rgb(204, 200, 200);
  color: rgb(4, 4, 4);
  width: 200px;
  height: 40px;
  border: 3px;
  border-color: rgb(221, 192, 44);
  border-style: solid;
}

.catalogo-fernet {
  text-align: center;
  background-color: white;
  color: black;
  width: 200px;
  height: 45px;
  border: 3px;
  border-style: solid;
  border-color: rgb(10, 97, 2);
}

.botones_padre {
  height: 300px;
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.botones_padre .boton_hijo {
  height: 200px;
  width: 125px;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: white;
}

.carrusel_conteiner {
  width: 100%;
  height: 500px;
}
.carrusel_conteiner .carousel {
  width: 600px;
  height: 400px;
  display: flex;
  margin-left: 325px;
}

.contacto_titulo {
  width: 100%;
  text-align: center;
  color: white;
}

.formulario_conteiner {
  display: flex;
  color: white;
  justify-content: center;
  gap: 15px;
}

.despedida {
  margin-left: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgb(95, 95, 95);
  color: white;
  width: 450px;
  text-align: center;
}

.footer_conteiner {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-color: rgb(140, 4, 4);
  color: white;
}
.footer_conteiner .footer {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

/*# sourceMappingURL=style.css.map */
